#footer {
  background: url("../img/footer-bg.jpg") center center no-repeat;
  color: var(--cor-branco);
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--cor-principal-3);
  z-index: 1;
}

#footer .footer-conteudo {
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
}

#footer .desenvolvimento {
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}
