.apoiadores {
  background: whitesmoke;
  padding: 15px 0;
  text-align: center;
}

.apoiadores img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.apoiadores img:hover {
  filter: none;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .apoiadores img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .apoiadores img {
    width: 50%;
  }
}
